#wrapper {
	width: 950px;
	margin: auto;
}

#team_list {
	display: none;
}

.project {

}

.project .project_graph {
	display: inline-block;
	height: 30px;
	width: 200px;
	background-color: #ddd;
	border: 1px solid #999;
}

.project .project_graph span {
	display: inline-block;
	height: 30px;
	width: 0; /* set to the correct width as percentages are calculated */
}