
/* Generic */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
	background-color: #f2f2f2;
	color: #7a7a7a;
	width: 100%;
	overflow: hidden;
}



input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

.sprite {
	background-image: url(sprite.png);
	background-position: -10px -100px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 20px;
	width: 20px;
	text-indent: -999px;
	overflow: hidden;
	display: block;
    border: none;
}

.sprite:hover {
	opacity: 0.7;
}


#header {
	position: fixed;
	top: 0;
	right: 0;
	width: 400px;
	height: 20px;
	z-index: 2;
	text-align: right;
	padding-right: 20px;
}

#wrapper {
	width: 400%;
	height: 100%;
	position: relative;
	left: 0;
	background: url("ajax-loader.gif") no-repeat scroll 12.5% center transparent;
}

.screen {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
}

.js .screen {
	display: none;
}

button {
	border: none;
	position: fixed;
    width: 42px;
    height: 70px;
    top: 150px;
    font-size: 0px;
    opacity: 0.5;
    background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	z-index: 3;
	background-color: transparent;
}

button:hover {
	opacity:0.7;
	cursor: pointer;
}

button.right {
	right: 30px;
	background-image: url(arrow-right.png);
}

button.left {
	left: 30px;
	background-image: url(arrow-left.png);
}


a.button {
	font-family: "Helvetica Neue", helvetica, arial;
	background-color: #e6e6e6;
	border: none;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	padding: 3px 5px;
	color: #7a7a7a;
	-moz-border-radius: 3px; 
  	-webkit-border-radius: 3px; 
    border-radius: 3px;       
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
  	letter-spacing: 0.05em;
  	cursor:pointer;
  	
  	-moz-box-shadow:inset 0 0 5px #ccc;
   	-webkit-box-shadow:inset 0 0 5px #ccc;
	box-shadow:inset 0 0 5px #ccc;
  	     
     -webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	
	margin: 10px 5px 0px;
	float: none;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	line-height: 14px;
}

a.button:hover {
	-moz-box-shadow:inset 0 0 5px #bbb;
   	-webkit-box-shadow:inset 0 0 5px #bbb;
	box-shadow:inset 0 0 5px #bbb;
	background-color: #ddd;
	color: #666;
}

/* Log in */


#analysis, #intro, #teamanalysis {
	overflow-y: scroll;
}

#loginForm {
	width: 370px;
	margin: auto;
	background-color: #f2f2f2;
	overflow: hidden;
}

#loginForm h1 {
	font-weight: bold;
	font-size: 62px;
	line-height: 62px;
	letter-spacing: -0.02em;
	border-bottom: 1px #cacaca solid;
	padding-bottom: 5px;
	margin: 100px 0px 20px;
}

#loginForm div {
	width: 230px;
	padding-left: 140px;
	font-size: 14px;
	color: #aeaeae;
	font-weight: bold;
	border-bottom: 1px #cacaca solid;
	margin-bottom: 10px;
}

#loginForm input {
	width: 230px;
	height: 30px;
	padding: 5px;
	margin: 10px 0px 20px;
	border: none;
	background-color: white;
}

#loginForm input[type=submit] {
	width: 80px;
	height: 30px;
	-moz-border-radius: 3px; 
  	-webkit-border-radius: 3px; 
    border-radius: 3px;     
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial;
    cursor: pointer;
    background-color: #91b7c8;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 4px 0 7px;
    margin-top: 0px;
}

#loginForm input[type=submit]:hover {
	background-color: #497f97;
}


#loginForm p {
	font-size: 14px;
	line-height: 18px;
	
}

/* Attn Input */

#input .container {
	width: 370px;
	margin: 100px auto;
	position: relative;
}

#input #attn {
	border: none;
	background-color: white;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	font-size: 30px;
	padding: 10px;
}

#input ul { /* this is the ul for #actionText */
	list-style: none;
	margin: 10px 0;
	font-size: 16px;
}

#input ul li {
	list-style: none;
	letter-spacing: 0.02em;
	padding: 2px 10px;	
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	display: inline;
}

#input ul li.selected {
	background-color: #91b7c8;
	color: #f2f2f2;
}

#input ul li.selected:hover {
	background-color: #497f97;
}

#input ul li.selected:empty {
	padding: 0;
}

textarea#notes2 {
	width: 100%;
	resize: none;
	margin-top: 20px;
	height: 120px;
	border: none;
	font-family: Helvetica;
	color: #555;
	padding: 10px;
}

img#sync {
	position: absolute;
	right: -30px;
	top: 20px;
}

input#save {
    position: absolute;
    right: -30px;
    bottom: 0px;
}

input#save:hover {
	opacity: 0.7;
}

/* Analysis Screen */

#analysis .container {
	width: 600px;
	margin: auto;
	padding: 20px 0px;
	
}

#attnlist {
	margin: 40px 0px 0px;
	font-size: 12px;
}

#attnlist li {
	border-top: 1px dotted #7a7a7a;
	clear: right;
	list-style: none;
}

#attnlist ul li {
	width: 514px;
	float: right;
    padding: 10px 3px;
    position: relative;
}

#attnlist ul li:first-child {
	border-top: none;
}

.date {
	float: left;
	width: 80px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12px;
}

.project, .duration, .notes {
	display: block;
	float: left;
}

.project {
	width: 150px;
	font-weight: bold;
	font-size: 13px;
	padding-top: 2px;
}

.duration {
	width: 70px;
	font-weight: bold;
	font-size: 17px;
}

.notes {
	width: 294px;
	padding-top: 3px;
}

#attnlist ul li:hover {
	 background-color: #fafafa;
}

#attnlist ul li:hover a.edit, a.edit:hover {
	opacity: 1;
}

ul#attnlist ul li a.edit {
	background-position: 0px -5px;
	position: absolute;
	right: -40px;
	padding-left: 10px;
	width:30px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	opacity: 0;
	display: block;
}

#attnlist ul li.editing:hover {
	background: #f2f2f2;
}

#attnlist ul li.editing:hover a.edit, #attnlist ul li.editing a.edit:hover {
	opacity: 0;
}

#attnlist ul li.editing span {
	display: none;
}

#attnlist ul li.editing {
	padding: 10px 0px;
}

#attnlist ul li.editing input, #attnlist ul li.editing textarea, #analysis input {
	 background: white;
	/* border: #ccc 1px solid; */
	 border: none;
	 font-family: Helvetica, Arial;
	 color: #555;
	 font-size: 13px;
	 height: 30px;
	 padding: 5px 10px;
}

#attnlist ul li.editing input.project {
	margin-right: 10px;
	width: 130px;
	display: block;
}

#attnlist ul li.editing input.duration {
	width: 70px;
	margin-right: 10px;
	display: block;
}

#attnlist ul li.editing textarea.notes {
	resize: none;
	padding: 10px;
	height: 140px;
	display: block;
}

#attnlist ul li input.project {
	display: none;
}

#attnlist ul li input.duration {
	display: none;
}

#attnlist ul li textarea.notes {
	display: none;
}

#attnlist ul li a.sprite {
	display: none;
}

#attnlist ul li.editing a.sprite {
	display: none;
}


#attnlist ul li.editing a.delete {
	position: absolute;
	bottom: 70px;
	right: -30px;
	background-position: -10px -40px;
	display: block;
}

#attnlist ul li.editing a.cancel {
	position: absolute;
	bottom: 40px;
	right: -30px;
	background-position: -10px -70px;
	display: block;
}

#attnlist ul li.editing a.save {
	position: absolute;
	bottom: 10px;
	right: -30px;
	display: block;
}