<!DOCTYPE html>
<html>
	<head>
		<title>Attn!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="reset.css" />
		<link rel="stylesheet" type="text/css" href="jbase.css" />
		<link rel="stylesheet" type="text/css" href="grid.css" />
		<link rel="stylesheet" type="text/css" href="stickyfooter.css" />
		<link rel="stylesheet" type="text/css" media="all" href="style-v3.css" />
		<style type="text/css">
		
			#wrapper {
				left: -3840px;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<a href="#" id="accountID" class="button">Not logged in</a>
			<a href="http://attn.uservoice.com" class="button" target="_blank" title="Attn! feedback forum on UserVoice">Feedback</a>
			<a href="/intro" class="button" title="What is this 'Attn!'?">?</a>
		</div>
		<div id="wrapper">
			<div id="login" class="screen">
				<form id="loginForm">
					<h1>attn!</h1>
						<label for="loginID">username</label>
						<input id="loginID" name="loginID" type="text" />
						<label for="password">password</label>
						<input id="password" name="password" type="password" />
						<input class="right sprite" type="submit" name="submitButton" value="Log in" />
					<p>There was a problem with logging in, please try again</p>
				</form>
			</div>
			<div id="input" class="screen">
				<div class="container">
					<h1>attn!</h1>
					<input placeholder="Type&hellip;" id="attn"/>
					<ul>
						<li class="" id="actionText">other text</li>
						<li class="selected" id="actionText">helper text</li>
					</ul>
					<!-- <span id="infoText">not activated - please login</span>-->
					<textarea id="notes"></textarea>
					<textarea id="notes2"></textarea>
					<img id="sync" src="ajax-loader.gif"/>
					<input id="save" class="sprite" type="button" value="Save" />
				</div>
				<button class="left">left <span class="sprite"></span></button>
				<button class="right">right <span class="sprite"></span></button>
			</div>
			<div id="analysis" class="screen">
				<div class="jbasewrap container">
					<div id="head">
						<input type="text" id="filterString" placeholder="type to filter attn" />
						<h2 id="totalSeconds"><span>512:23</span><br/>total attn</h2>
						<h2 id="averageSeconds"><span>21:01</span><br/>average per week </h2>
					</div>
					<ul id="attnlist">
						<li>
							<span class="date" data-datetime="11.04.2012">11.04.12</span>
							<ul>
								<li>
									<span class="project">attn</span>
									<span class="duration" title="09.04.2012 1:45pm - 1:05pm" data-start="1333975531177" data-duration="83984.112">23:20</span>
									<span class="notes">Mega machine writing notes and spans</span>
									<a class="sprite edit" title="Edit" href="#">Edit</a>
									<input class="project" value="attn">
									<input class="duration" value="23:20">
									<textarea class="notes">Mega machine writing notes and spans</textarea>
									<a class="sprite delete" title="Delete" href="#">Delete</a>
									<a class="sprite cancel" title="Cancel" href="#">Cancel</a>
									<a class="sprite save" title="Save" href="#">Save</a>
								</li>
								<li>
									<span class="project">attn</span>
									<span class="duration" title="09.04.2012 1:02pm - 1:45pm" data-start="1333972945361" data-duration="2585.816">0:43</span>
									<span class="notes">Mega machine writing notes and spans</span>
									<a class="sprite edit" title="Edit" href="#">Edit</a>
									<input class="project" value="attn">
									<input class="duration" value="0:43">
									<textarea class="notes">Mega machine writing notes and spans</textarea>
									<a class="sprite delete" title="Delete" href="#">Delete</a>
									<a class="sprite cancel" title="Cancel" href="#">Cancel</a>
									<a class="sprite save" title="Save" href="#">Save</a>
								</li>
							</ul>
						</li>
					</ul>
					<!--<ul id="attnlist">
						<li>Analysis here after loading&hellip;</li>
					</ul> -->
				</div>
			</div>
			<div id="teamanalysis" class="screen">
				<div class="jbasewrap strip">
					<h2>Team Analysis</h2>
				</div>
			</div>
		</div><!-- end #wrapper -->
		<script type="text/html" id="attnday_templ">
			<li>
				<span class="date"><%=date%></span>
				<ul>
					<% for(var i=periods.length-1; i>=0; i--) { %>					
					<li>
						<span class="project"><%=periods[i].project%></span>
						<span class="duration" data-duration="<%=(periods[i].duration / 1000) || 0%>" title="<%=date%> <%=periods[i].starttime%> <% if(periods[i].end) {%>- <%=periods[i].endtime%><% } else {%>(open)<%}%>"><% if(periods[i].end) {%><%=periods[i].durationString%><% } else {%>(open)<%}%></span>
						<span class="notes"><%=periods[i].notes%></span>
						<a href="#" title="Edit" class="sprite edit">Edit</a>
						
						<input class="project" value="<%=periods[i].project%>" />
						<input class="duration" value="<%=periods[i].durationString%>" />
						<textarea class="notes"><%=periods[i].notes%></textarea>
						<a href="#" title="Delete" class="sprite delete">Delete</a>
						<a href="#" title="Cancel" class="sprite cancel">Cancel</a>
						<a href="#" title="Save" class="sprite save">Save</a>
					</li>
					<% } %>
				</ul>
			</li>
		</script>
		<script type="text/javascript" src="jquery-1.6.2.js"></script>
		<script type="text/javascript" src="date.js"></script>
		<script type="text/javascript" src="chrjs.js"></script>
		<script type="text/javascript" src="jquery-json.min.js"></script>
		<script type="text/javascript" src="iframe-comms.js"></script>
		<script type="text/javascript" src="templ.js"></script>
		<script type="text/javascript" src="attn.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>